.container{
    margin: 50px 50px;
    padding: 30px;
    color: rgb(50, 50, 50);
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#myName{
    font-weight: 600;
    font-size: larger;
    color: grey;
}

#navigation{
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
    align-items: end;
}

#flexNav{
    display: flex;
    gap: 30px;
}

a[href]{
    text-decoration: none;
    color: grey;
}

a[href]:hover{
    color: hotpink;
}

#heroTitle{
    font-size: 3rem;
    margin-bottom: 20px;
}

#heroDesc{
    font-size: larger;
    margin-top: 0px;
}

#containerSocial{
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 25px;
}

.social{
    display: flex;
    align-items: center;
    gap: 5px;
}